<div class="message-container">
  <i class="author">
    <span><%= message.user.email %></span>
    <small><%= message.created_at.strftime("") %></small>
  </i>
  <p><%= message.content %></p>
</div>
