// .title {
// color :black;
// text-align: center;
// }

// .card{
//   display: flex;
//   justify-content:center;
//   flex-direction: column;
//   align-items: center;

.nav-filler {
  width: 100vw;
  height: 72px;
  position: absolute;
  top: 0;
  background-color: #090979;
  z-index: -1;
}

// .ground {
//   width: 100vw;
//   height: 100px;
//   background-color: green;
// }

.announcementcard{
  margin-top: 300px;
  h1 {
    text-align: center;
    color: white;
    font-weight: 900;
    font-size: 4rem;
  }
  p{
    text-align:center
  }
}

#sky {
  overflow: hidden;
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 37%, rgba(0,212,255,1) 62%, rgba(255,194,0,1) 93%, rgba(255,121,0,1) 98%);
  background: -webkit-linear-gradient(top, #C6D9E8 0%, #fff 100%);
  background: -linear-gradient(top, #C6D9E8 0%, #fff 100%);
  background: -moz-linear-gradient(top, #C6D9E8 0%, #fff 100%);
  height: calc(100vh - 72px);
  text-align: center;
}

#sky {
  position: relative;
  overflow: hidden;
  background: -webkit-linear-gradient(top, #C6D9E8 0%, #fff 100%);
  background: -linear-gradient(top, #C6D9E8 0%, #fff 100%);
  background: -moz-linear-gradient(top, #C6D9E8 0%, #fff 100%);
}
.cloud {
  position: absolute;
}
#aeroplane {
  position: absolute;
}
.cloud {
  position: absolute;
  background-image: url('https://www.dl.dropboxusercontent.com/s/31ivp5fsjcgytgp/cloud1.png');
  background-repeat: no-repeat;
  width: 176px;
  height: 114px;
}
#cloud1 {
  top: 40px;
  left: 400px;
  -webkit-animation: movingclouds 10s linear infinite;
  -moz-animation: movingclouds 10s linear infinite;
  -o-animation: movingclouds 10s linear infinite;
  color:black;
}
#cloud3 {
  top: 100px;
  left: 100px;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  opacity: 0.9;
  -webkit-animation: movingclouds 15s linear infinite;
  -moz-animation: movingclouds 15s linear infinite;
  -o-animation: movingclouds 15s linear infinite;
}
.cloud {
  position: absolute;
  background-image: url('https://www.dl.dropboxusercontent.com/s/31ivp5fsjcgytgp/cloud1.png');
  background-repeat: no-repeat;
  width: 176px;
  height: 114px;
}

#cloud1 {
  top: 40px;
  left: 400px;
  -webkit-animation: movingclouds 230s linear infinite;
  -moz-animation: movingclouds 10s linear infinite;
  -o-animation: movingclouds 10s linear infinite;
}

#cloud2 {
  top: 45px;
  left: 600px;
  -webkit-animation: movingclouds 123s linear infinite;
  -moz-animation: movingclouds 13s linear infinite;
  -o-animation: movingclouds 13s linear infinite;
}

#cloud3 {
  top: 100px;
  left: 100px;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  opacity: 0.9;
  -webkit-animation: movingclouds 145s linear infinite;
  -moz-animation: movingclouds 15s linear infinite;
  -o-animation: movingclouds 15s linear infinite;
}

#cloud4 {
  top: 43px;
  left: 40px;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.8;
  -webkit-animation: movingclouds 220s linear infinite;
  -moz-animation: movingclouds 20s linear infinite;
  -o-animation: movingclouds 20s linear infinite;
}

#cloud5 {
  top: 100px;
  left: 500px;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 0.7;
  -webkit-animation: movingclouds 225s linear infinite;
  -moz-animation: movingclouds 25s linear infinite;
  -o-animation: movingclouds 25s linear infinite;
}

#cloud6 {
  top: 35px;
  left: 200px;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  opacity: 0.5;
  -webkit-animation: movingclouds 127s linear infinite;
  -moz-animation: movingclouds 27s linear infinite;
  -o-animation: movingclouds 27s linear infinite;
}

#cloud7 {
  top: 92px;
  left: 700px;
  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  -ms-transform: scale(0.4);
  transform: scale(0.4);
  opacity: 0.4;
  -webkit-animation: movingclouds 29s linear infinite;
  -moz-animation: movingclouds 29s linear infinite;
  -o-animation: movingclouds 29s linear infinite;
}
@keyframes movingclouds {
  0% {margin-left: 30%;}
  100% {margin-left: -150%;}
}
@-webkit-keyframes movingclouds {
  0% {margin-left: 100%;}
  100% {margin-left: -150%;}
}
@-moz-keyframes movingclouds {
  0% {margin-left: 100%;}
  100% {margin-left: -150%;}
}
#aeroplaner{
  position: absolute;
  background-image: url('https://www.dl.dropboxusercontent.com/s/5beukq1zg37jlr7/airbus.png');
  background-repeat: no-repeat;
  width: 200px;
  height: 70px;
  -webkit-animation: movingplane 7s linear infinite;
  -moz-animation: movingplane 5s linear infinite;
  -o-animation: movingplane 5s linear infinite;
}
@keyframes movingplane {
  0% {
    margin-left: 100%;
    top:300px;
  }
  29% {
    margin-left: 50%;
    top: 50px;
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  31% {
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }
  60% {
    margin-left: 0%;
    top: 300px;
  }
  100% {
    margin-left: -100%;
    top: 300px;
  }
}
@-webkit-keyframes movingplane {
  0% {
    margin-left: 100%;
    top:300px;
  }
  29% {
    margin-left: 50%;
    top: 50px;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  31% {
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }
  60% {
    margin-left: 0%;
    top :300px;
  }
  100% {
    margin-left: -100%;
    top: 300px;
  }
}
@-moz-keyframes movingplane {
  0% {
    margin-left: 100%;
    top:300px;
  }
  29% {
    margin-left: 50%;
    top: 50px;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  31% {
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }
  60% {
    margin-left: 0%;
    top: 300px;
  }
  100% {
    margin-left: -100%;
    top: 300px;
  }
}
#aeroplane{
  position: absolute;
  background-image: url('https://www.dl.dropboxusercontent.com/s/5beukq1zg37jlr7/airbus.png');
  background-repeat: no-repeat;
  width: 200px;
  height: 70px;
  -webkit-animation: movingplane 10s linear infinite;
  -moz-animation: movingplane 5s linear infinite;
  -o-animation: movingplane 5s linear infinite;
}

@keyframes movingplane {
  0% {
    margin-left: 100%;
    top:300px;
  }
  29% {
    margin-left: 50%;
    top: 50px;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  31% {
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }
  60% {
    margin-left: 0%;
    top: 300px;
  }
  100% {
    margin-left: -100%;
    top: 300px;
  }
}
@-webkit-keyframes movingplane {
  0% {
    margin-left: 100%;
    top:300px;
  }
  29% {
    margin-left: 50%;
    top: 50px;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  31% {
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }
  60% {
    margin-left: 0%;
    top :300px;
  }
  100% {
    margin-left: -100%;
    top: 300px;
  }
}
@-moz-keyframes movingplane {
  0% {
    margin-right: 100%;
    top:300px;
  }
  29% {
    margin-right: 50%;
    top: 50px;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  31% {
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }
  60% {
    margin-right: 0%;
    top: 300px;
  }
  100% {
    margin-right: -100%;
    top: 300px;
  }
}
@import url('https://fonts.googleapis.com/css?family=Arima+Madurai:300');

*,
*::before,
*::after {
  box-sizing: border-box;
}


.bird {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/174479/bird-cells-new.svg);
  background-size: auto 100%;
  width: 88px;
  height: 125px;
  will-change: background-position;

  animation-name: fly-cycle;
  animation-timing-function: steps(10);
  animation-iteration-count: infinite;

  &--one {
    animation-duration: 1s;
    animation-delay: -0.5s;
  }

  &--two {
    animation-duration: 0.9s;
    animation-delay: -0.75s;
  }

  &--three {
    animation-duration: 1.25s;
    animation-delay: -0.25s;
  }

  &--four {
    animation-duration: 1.1s;
    animation-delay: -0.5s;
  }

}

.bird-container {
  position: absolute;
  top: 20%;
  left: -10%;
  transform: scale(0) translateX(-10vw);
  will-change: transform;

  animation-name: fly-right-one;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  &--one {
    animation-duration: 15s;
    animation-delay: 0;
  }

  &--two {
    animation-duration: 16s;
    animation-delay: 1s;
  }

  &--three {
    animation-duration: 14.6s;
    animation-delay: 9.5s;
  }

  &--four {
    animation-duration: 16s;
    animation-delay: 10.25s;
  }

}

@keyframes fly-cycle {

  100% {
    background-position: 900px 0;
  }

}

@keyframes fly-right-one {

  0% {
    transform: scale(0.3) translateX(-10vw);
  }

  10% {
    transform: translateY(2vh) translateX(10vw) scale(0.4);
  }

  20% {
    transform: translateY(0vh) translateX(30vw) scale(0.5);
  }

  30% {
    transform: translateY(4vh) translateX(50vw) scale(0.6);
  }

  40% {
    transform: translateY(2vh) translateX(70vw) scale(0.6);
  }

  50% {
    transform: translateY(0vh) translateX(90vw) scale(0.6);
  }

  60% {
    transform: translateY(0vh) translateX(110vw) scale(0.6);
  }

  100% {
    transform: translateY(0vh) translateX(110vw) scale(0.6);
  }

}

@keyframes fly-right-two {

  0% {
    transform: translateY(-2vh) translateX(-10vw) scale(0.5);
  }

  10% {
    transform: translateY(0vh) translateX(10vw) scale(0.4);
  }

  20% {
    transform: translateY(-4vh) translateX(30vw) scale(0.6);
  }

  30% {
    transform: translateY(1vh) translateX(50vw) scale(0.45);
  }

  40% {
    transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
  }

  50% {
    transform: translateY(0vh) translateX(90vw) scale(0.45);
  }

  51% {
    transform: translateY(0vh) translateX(110vw) scale(0.45);
  }

  100% {
    transform: translateY(0vh) translateX(110vw) scale(0.45);
  }

}


.view-bookings {
  margin-top: 50px;
}
