.nav-link {
	color:$text-color-gray !important;
}

.user-greeting {
  text-align: center;
}

.user-info {
  width: 300px;
  align-items: center;
  padding: 40px;
  border-radius: 4px;
  margin: 10px;
  color: $text-color-gray;
  background-color: white;
}

.user-content-container {
  height: 80vh;
  width: 100%;
  padding: 40px;
  margin: 10px;
  border-radius: 4px;
  color: $text-color-gray;
  background-color: white;
}

.tab-card-styling {
  background-color: white;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  width: 100%;

}
.tab-pane {
  height: 68vh;
  overflow: scroll;
  padding: 8px;
}

.running-total {
  text-align: center;
}
.avatar-dash {
  height: 200px;
  width: 200px;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 8px;
  margin-right: 8px;
  border-radius: 50%;
}

.dashboard-tab-card {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

.nav {
  margin-left: 5px;
}

.bg-primary {
    // position: absolute;
    // top: -10px;
    // right: -10px;
    // padding: 5px 10px;
    // border-radius: 50%;
    background: transparent !important;
    color: red !important;
}





