.nav-link {
	color: black !important;
}

.red {
  background-color: red;
  padding: 40px;
  margin: 10px;
}

.user-info {
  width: 300px;
}

.user-content-container {
  height: 80vh;
  width: 100%;
}

.tab-card-styling {
  background-color: white;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  width: 100%;

}
.tab-pane {
  height: 68vh;
  overflow: scroll;
}

.user-greeting {
  text-align: center;
}

.running-total {
  text-align: center;
}
