.nav-link {
	color: black !important;
}

.nav-item {
  font-size: 20px;
}

.nav-tabs .nav-link.active {
  background-color: white;
  border-color: white;
  // border-bottom: 3px solid rgb(151, 151, 151);
}

.nav-tabs .nav-link:hover {
  border-color: white;
}

.nav-link.active {
  font-weight: bold;
}

.nav-tabs {
  border: none;
}

hr {
  border-top: 2px solid black;
}

.user-info {
  text-align: center;
  width: 300px;
  align-items: center;
  padding: 25px;
  border-radius: 4px;
  margin: 10px;
  color: $text-color-gray;
  background-color: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

.tab-pane {
  overflow-x: hidden;
  height: 64vh;
  border: none;
}

.tab-pane.fade.show.active {
  overflow-x: hidden;
  height: 64vh;
}

.tab-card-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tab-card-location {
  color: black;
  font-weight: bold;
}

.tab-card-lower-half {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tab-card-message {
  align-items: center;
}

.user-content-container {
  height: 80vh;
  width: 100%;
  padding: 40px;
  margin: 10px;
  border-radius: 4px;
  color: $text-color-gray;
  background-color: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

.tab-card-styling {
  background-color: white;
  padding: 28px;
  margin-bottom: 16px;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  width: 100%;
}

.tab-card-currency {
  text-align: right;
}

.tab-card-currency-request {
  display: flex;
}

.tab-pane {
  height: 68vh;
  overflow: scroll;
  padding: 8px;
}

.running-total {
  text-align: center;
}
.avatar-dash {
  height: 200px;
  width: 200px;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 8px;
  margin-right: 8px;
  border-radius: 50%;
}

.dashboard-tab-card {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

.nav {
  margin-left: 5px;
}

.bg-primary {
    // position: absolute;
    // top: -10px;
    // right: -10px;
    // padding: 5px 10px;
    // border-radius: 50%;
    background: transparent !important;
    color: red !important;
}

.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: rgb(151, 151, 151);
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}



