// // Specific CSS for your home-page
// .home_video {
//   width: 100vw;
//   height: 100vh;
//   position: absolute;
//   display: flex;
//   justify-content: center;
//   object-fit: cover;
//   top: 0;
//   z-index: -2;
// }

// .home-video-wrapper {
//   height: 100%;
//   display: flex;
// }

// .home-container {
//   background-color: linear-gradient(#232526, #414345);
// }

.revonew-description {
  color: $text-color-gray;
  padding-left: 8px;
  margin-left: 8px;
  margin-bottom: 32px;
  font-size: 23px;
  align-items: left !important;
  position: relative;
  opacity: 0;
  -webkit-transition: all .8s ease .8s;
  transition: all .8s ease .8s;
  transform: translateX(50px);
}

.revonew-description.showing {
  opacity: 1;
  transform: translateX(0);
}

.navbar-link {
  color: $text-color-gray !important;
}

.disclaimer {
  color: $text-color-gray;
  font-style: italic;
}

.home-container {
  height: 100vh;
  // needs to be a flexbox to work
  align-items: center;
  // position: absolute;
}

.home-img {
  width: 100%;
  margin-left: 31px;
}
h1.home {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  align-items: left !important;
}

.home-description {
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  color: white;
  font-size: 51px;
  text-align: left;
  position: relative;
  opacity: 0;
  -webkit-transition: all .6s ease .6s;
  transition: all .6s ease .6s;
  transform: translateX(-50px);
}

.home-description.showing {
  opacity: 1;
  transform: translateX(0);
}

.home-buttons {
  padding: 16px;
}

.dropdown-item {
  color: #999C9F;
}

.footnote-container {
  display: flex;
  padding-bottom: 10px;
  justify-content: space-evenly;
  align-items: flex-start;
  // border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 12px 6px;
  color: white;
  background: linear-gradient(45deg, rgba(57,60,64,0.8211659663865546), rgba(14,17,20,0.8267682072829132) 127.71%);
  // background: linear-gradient(45deg, rgba(15,33,56,0.8211659663865546), rgba(14,17,20,0.8267682072829132) 127.71%);
}

.footnote-container p {
  margin: 10px;
}

.fluff {
  display: flex;
  justify-content: space-between;
}

.acknowledgments {
  // flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-style: normal;
  text-align: left;
}

.footer-link {
  color: white;
  transition: 0.2s;
  &:hover {
    color: #8B88F8;
  }
}


.fab {
  font-size: x-large;
}

.right.w-50 {
  opacity: 0;
  -webkit-transition: all .4s ease .4s;
  transition: all .4s ease .4s;
  transform: translateY(-50px);
}

.right.w-50.showing {
  opacity: 1;
  transform: translateY(0);
}


.animated-coins {
  border-radius: 50%;
  position: absolute;
  animation-name: roundabout;
  animation-iteration-count: 2;
  animation-fill-mode: forwards;
  animation-duration: 3s;
  opacity: 0;
  -webkit-transition: opacity 2s ease 2s, transform 2s ease 2s;
  transition: opacity 2s ease 2s, transform 2s ease 2s;
  transform: translateY(50px);
  filter: grayscale(100%);
}

.animated-coins.showing {
  opacity: 1;
  transform: translateY(0);
}

#animated-coin-1 {
  width: 60px;
  height: 60px;
  background-size: cover;
  top: 350px;
  left: 45px;
}

#animated-coin-2 {
  width: 100px;
  height: 100px;
  background-size: cover;
  top: 124px;
  left: 500px;
}

#animated-coin-3 {
  width: 150px;
  height: 150px;
  background-size: cover;
  top: 500px;
  left: 500px;
}

@keyframes roundabout {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

// @keyframes trace-across {
//   0% {
//     width: 0px;
//     height: 0px;
//     border-top: 3px solid white;
//     border-right: 3px solid white;
//   }
//   66% {
//     width: 570px;
//     height: 0px;
//     border-top: 3px solid white;
//     border-right: 3px solid white;
//     border-left: 3px solid transparent;
//     border-bottom: 3px solid transparent;
//   }
//   100% {
//     width: 570px;
//     height: 400px;
//     border-top: 3px solid transparent;
//     border-right: 3px solid transparent;
//     border-bottom: 3px solid white;
//     border-left: 3px solid white;
//     // border: 3px solid white;
//   }
// }

svg {
  opacity: 0;
  -webkit-transition: opacity 0.7s ease 0.7s, transform 0.7s ease 0.7s;
  transition: opacity 0.7s ease 0.7s, transform 0.7s ease 0.7s;
  transform: translateY(50px);
}

svg.showing {
  opacity: 1;
  transform: translateY(0px);
}

svg.fading {
  opacity: 0;
}

.svg-coin-1 {
  position: absolute;
  top: 340px;
  left: 5px;
  z-index: 2;
  // border: 1px solid black;
}


.svg-coin-2 {
  position: absolute;
  top: 100px;
  left: 425px;
  z-index: 2;
  // border: 1px solid black;
}

.svg-coin-3 {
  position: absolute;
  top: 489px;
  left: 478px;
  z-index: 2;
  // border: 1px solid black;
}

.path-1 {
  animation: dash 5s linear forwards;
  stroke-dasharray: 500;
  stroke-dashoffset: 700;
}

.path-2 {
  animation: dash 4s linear forwards;
  stroke-dasharray: 500;
  stroke-dashoffset: 700;
}

.path-3 {
  animation: dash 3s linear forwards;
  stroke-dasharray: 500;
  stroke-dashoffset: 700;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
