// Specific CSS for your home-page
.home_video {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  object-fit: cover;
  top: 0;
  z-index: -2;
}

.home-video-wrapper {
  height: 100%;
  display: flex;
}

h1.home {
  color: black;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.home-description {
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  color: #EF6C6C;
}

.home-buttons {
  padding: 16px;
}

.home-description {
  padding: 16px;
  margin-top:208px;
}
