// Import page-specific CSS files here.
@import "home";
@import "dashboard";
@import "new_listing";
@import "about";
@import "index_page";
@import "sign_in";
@import "confirm_booking";
@import "payment_page";



.logo-title-dark {
  font-weight: bold;
  color: $gray;
  text-shadow: 1px 1px 8px rgba(0,0,0,0.6);
  margin-top: 0.5rem;
  span {
    color: $purple
  }
}

.logo-title-white {
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 8px rgba(0,0,0,0.6);
  margin-top: 0.5rem;
  span {
    color: $purple
  }
}
