

// new css
.top-listing-card {
  justify-content: space-between;
}


.card-top-right {
  color: $primary;
}

.big-font {
  font-size: 26px;
}

hr {
  border-top: 1px solid $text-color-gray;
}

.card-bottom {
  color: $text-color-gray;
}

.card-bottom.row{
  justify-content: space-between;
}

 .card {
  border-radius: 15px 50px 30px;
 }

.form-control {
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 50px 15px 30px;
  box-shadow: 0 0 24px $purple;
}
.btn.red {
  border-radius: 50px 15px 30px;
  box-shadow: 0 0 24px $purple;
  background-color: $purple;
  color: white;
}

#map {
  position: sticky;
  top: 75px;
  height: 100vh !important;
  border-radius: 50px 50px 30px;

}


h1 {
  color: $text-color-gray;
  text-align: left;
  margin-left: 16px;
}

.btn.btn-primary {
  margin: 0 !important;
}


.listing-top {
  display: flex;
  width: 100%;
  justify-content: space-between;
}


.work-pls{
  display:flex;
  justify-content: space-between;
}
.user-email {
  margin: 0px;
}

.listing-bottom {
  color: $text-color-gray;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.listing-created-at {
  margin-let: auto;
  text-align: right;
  // display: flex;
  // align-items: flex-end;
  width: 40%;
}

.created-at {
  color: $text-color-gray;
  font-size: 14px;
  margin: 0px;
}

// }
.listing-card {
  width: 100%;
  margin-bottom: 16px;
  margin-top: -8px;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  background-color: white;
}

.cust-container {
  width: 95%;
  margin: 0 auto;
}
