h1 {
  color:Black;
  text-align: center;
}

.form-control1{
  margin-bottom: 1px;
  padding-top: 4px;
  padding-bottom: 6px;
  width: 50%;
  float:left;
  padding-left: 11px;
  border-color: 1px solid #6864f6;
  border-style: groove;
}
.listing-card-title {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
#a1 {
  margin: 1%;
}
.special-input {
  width: 43%;
  margin: 1%;
}
.lhs-index {
  width: 60%;
}
.rhs-index {
  width: 40%;
}
.listing-card {
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
  box-shadow:2px 2px gray;
  background-color: white;
}

