#index-page-cont {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
}

h1 {
  color: $text-color-gray;
  text-align: left;
  margin-left: 16px;
}

.btn.btn-primary {
  margin: 0 !important;
}

.form-control1{
  margin-bottom: 1px;
  padding-top: 4px;
  padding-bottom: 6px;
  width: 50%;
  float:left;
  padding-left: 11px;
  border-color: 1px solid #6864f6;
  border-style: groove;
}

.listing-top {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.loc-cur {
  color: black;
  display: flex;
  justify-content: space-between;
}
.work-pls{
  display:flex;
  justify-content: space-between;
}
.user-email {
  margin: 0px;
}

.listing-bottom {
  color: $text-color-gray;
  display: flex;
  justify-content: space-between;
}

.created-at {
  color: $text-color-gray;
  font-size: 14px;
  margin: 0px;
}

#a1 {
  margin: 1%;
  margin: 0 !important;
}
.special-input {
  width: 43%;
  margin-right: 8px;
  margin-left: 8px;
}
.list-cont {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
}
.lhs-index {
  width: 70%;
  height: 82vh;
  overflow: scroll;
  padding: 8px;
  flex-direction: column;
  display:flex;
  margin-top: 19px;
}
.rhs-index {
  width: 30%;
  padding: 8px;
  margin-top: 11px;
  border-radius: 4px;
  margin-bottom: 24px;
}
.listing-card {
  // width: 100%;
  margin-bottom: 16px;
  margin-top: -8px;
  padding: 10px;
  border-radius: 4px;
  box-shadow:2px 2px gray;
  background-color: white;
}

