.currency-span {
  background-color: #FFFFBF;
  // border: 1px solid black;
  border-radius: 20px;
  padding: 25px 30px;
  margin-bottom: 12px;
}

.currency-span p {
  margin-bottom: 0;
}

.exchanged-currency {
  display: flex;
  justify-content: center;
}

.listing-container {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.container h3 {
  text-align: center;
  padding: 20px 10px;
}

.form-group {
  padding: 10px;
}

.card-box-shadow {
  width: 40%;
}

.blue-gradient-button {
  padding: 10px;
}

form abbr[title] {
  border-bottom: none !important;
  text-decoration: none !important;
}

abbr {
  display: none;
}
