.currency-span {
  background-color: #FFFFBF;
  // border: 1px solid black;
  border-radius: 20px;
  padding: 25px 30px;
  margin-bottom: 12px;
}

.currency-span p {
  margin-bottom: 0;
}

.exchanged-currency {
  display: flex;
  justify-content: center;
}

// .card-box-shadow {
//   border-top: 3px solid black;
//   border-right: 3px solid black;
// }

.listing-container {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  // background: url("ginger-cat.png");
  // background-size: cover;
  // background-repeat: none;
  // background-position: left;
}

// .cats img {
//   height: 500px;
//   width: 500px;
// }

.payment img {
  height: 500px;
  width: 50%;
  top: 132px;
  left: 0px;
  position: absolute;
}

// .card-box-shadow {
//   background-color: rgba(255, 255, 255, 0.5);
// }


.listing-container h2 {
  text-align: center;
  padding: 20px 10px;
}

.form-group {
  padding: 10px;
}

.card-box-shadow {
  width: 40%;
}

.blue-gradient-button {
  padding: 10px;
}

form abbr[title] {
  border-bottom: none !important;
  text-decoration: none !important;
}

label {
  font-size: 18px;
}

abbr {
  display: none;
}
