.currency-span {
  background-color: #F0E68C;
  // border: 1px solid black;
  border-radius: 20px;
  padding: 25px 30px;
  margin-bottom: 12px;
}

.currency-span p {
  margin-bottom: none;

}
.exchanged-currency {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
}
