#payment-form {
  padding: 8px;
  margin: 8px;
}

#card-element {
  padding: 8px;
  margin: 8px;
}
 #submit {
  padding: 8px;
  margin: 8px;
 }

.pmt-instruction {
  padding-left: 14px;
  color: $text-color-gray;
}
