
<div id="sky">

  <div class="announcementcard">
    <h1 class="title">You've made a booking! </h1>

    <!-- <p> @booking.listing%> <%= @booking.listing.user %> will be exchanging the cash with you!</p> -->

    <p>Meet them in<%= @booking.listing.location %>  <p>

      <%= link_to 'View my bookings', dashboard_path  %>
    </div>
    <div class="containerss">


      <div class="bird-container bird-container--one">
        <div class="bird bird--one"></div>
      </div>

      <div class="bird-container bird-container--two">
        <div class="bird bird--two"></div>
      </div>

      <div class="bird-container bird-container--three">
        <div class="bird bird--three"></div>
      </div>

      <div class="bird-container bird-container--four">
        <div class="bird bird--four"></div>
      </div>

    </div>
    <div id="cloud1" class="cloud"></div>
    <div id="cloud2" class="cloud"></div>
    <div id="cloud3" class="cloud"></div>
    <div id="cloud4" class="cloud"></div>
    <div id="cloud5" class="cloud"></div>
    <div id="cloud6" class="cloud"></div>
    <div id="aeroplane"></div>
    <div id="aeroplaner"></div>
  </div>
  <div class="ground"></div>
  <div class="nav-filler"></div>
