<div class="dark-bg">
  <div class="carousel">
    <div class="carousel-item active">
      <div class="about-container">
        <h1>About</h1>
        <p>We worked hard.</p>
      </div>
    </div>
    <div class="carousel-item">
      <div class="team-container">
        <div class="team-desc">
          <h1>The Team</h1>
          <div class="about-row">
            <div class="about-card">
              <%= image_tag "logo.png", alt: "Stanley", class: 'avatar-bordered team' %>
              <div class="name">
                <h4>Stanley</h4>
              </div>
            </div>
            <div class="about-card">
              <%= image_tag "logo.png", alt: "alttext", class: 'avatar-bordered team' %>
              <div class="name">
                <h4>Maxime</h4>
              </div>
            </div>
            <div class="about-card">
              <%= image_tag "logo.png", alt: "alttext", class: 'avatar-bordered team' %>
              <div class="name">
                <h4>Danielle</h4>
              </div>
            </div>
            <div class="about-card">
              <%= image_tag "logo.png", alt: "alttext", class: 'avatar-bordered team' %>
              <div class="name">
                <h4>Hamza</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-about" href="#carouselControl">
      About
    </a>
    <a class="carousel-control-team" href="#carouselControl">
      Meet the team
    </a>
  </div>
</div>


