<div class="dark-bg">
  <div class="container">
    <div class="d-flex home-container">
      <div class="left w-50">
        <h1 class="home-description">Exchange left over cash <br> for digital money <br>anywhere you are.</h1>
        <p class="revonew-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla nobis deleniti eaque vero ut ipsa nostrum reprehenderit ipsam ex molestias incidunt maxime quasi, nesciunt labore facere, minima. Iste, numquam, iusto.</p>
        <%= link_to "Cash exchanges near you", listings_path, class: "blue-gradient-button-home" %>
      </div>

      <div class="right w-50">
        <%= image_tag "hugo-payment-error.png", alt: "money", class: "home-img" %>
      </div>
    </div>

  </div>
</div>
