<div id="home-container">
  <div class="home-video-wrapper">
    <%= video_tag "Money.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "home_video"%>
      <h2 class="home-description">change your cash for cash</h2>
  </div>
  <div class="home-buttons">
    <%= link_to "Exchange My Cash", new_listing_path, class: "btn btn-primary" %>
    <%= link_to "Browse Active Listings", listings_path, class: "btn btn-secondary" %>
  </div>
</div>
