<div id="home-container">
  <div class="home-video-wrapper">
    <%= video_tag "Money.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "home_video"%>
      <h2 class="home-description">change your cash for cash</h2>
  </div>
  <div class="home-buttons">
    <a class="btn-ghost" href="#">exchange my cash</a>
    <a class="btn-ghost" href="#">active listings</a>
  </div>
</div>
