<div class="dark-bg">
  <div class="container">
    <div class="d-flex home-container">
      <div class="left w-50">
        <h2 class="home-description">Exchange left over cash <br> for digital money,<br>wherever you are.</h2>
        <p class="revonew-description">Fast, secure transactions as recommended by thousands of customers on Trustpilot, worldwide *</p>
        <%= link_to "Cash exchanges near you", listings_path, class: "blue-gradient-button-home" %>
      </div>

      <div class="right w-50">
        <%= image_tag "hugo-payment-error.png", alt: "money", class: "home-img" %>
      </div>
    </div>
    <div class="disclaimer">
        <p>* this is purely a promotional statement and is not reflected in any way by actual statistics</p>
    </div>
  </div>
    <div class="footnote-container">
      <div class="fluff w-40">
        <a href="#" class="footer-link"><p>About</p></a>
        <a href="#" class="footer-link"><p>Terms and Conditions</p></a>
        <a href="#" class="footer-link"><p>FAQ</p></a>
      </div>
      <div class="acknowledgments w-60">
        <p>Made with 💟 by <b>HMDS</b> @ Le Wagon | batch #361 | Check out the GitHub repo here</p>
        <a href="http://www.github.com/stanleypliu/MaxMyCash" class="footer-link"><i class="fab fa-github"></i></a>
      </div>
    </div>
</div>













