<div class="dark-bg">
  <div class="container">
    <div class="d-flex home-container">
      <div class="left w-50">
        <h1 class="home-description">Exchange left over cash <br> for digital money <br>wherever you are.</h1>
        <p class="revonew-description">Fast, secure transactions as recommended by thousands of customers on Trustpilot, worldwide*</p>
        <%= link_to "Cash exchanges near you", listings_path, class: "blue-gradient-button-home" %>
      </div>

      <div class="right w-50">
        <%= image_tag "hugo-payment-error.png", alt: "money", class: "home-img" %>
      </div>
    </div>

    <div class="d-flex footnote-container">
      <div class="disclaimer w-60">
        <p>*This is purely a promotional statement and is not reflected in any way by actual statistics</p>
      </div>
      <div class="acknowledgments w-40">
        <p>Made with 💟 by <b>HMDS</b> @ Le Wagon | batch #361</p>
      </div>
    </div>
  </div>
</div>
