.btn-ghost {
  color: $gray;
  border: 1px solid $gray;
  padding: 16px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 1.0;
  margin-right: 16px;
  transition: opacity 0.3s ease;
  text-align: center;
}

.btn-ghost:hover {
  opacity: 1;
  text-decoration: none;
  color: white;
}
