.card-box-shadow {
  background-color: #FFFFFF;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  height: 30%;
  width: 35%;
}

.payment-card {
  background-color: #FFFFFF;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

// Form

@media (min-width: 600px) {
  .form-card {
    // background-color: #FFFFFF;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
  }
}

@media (min-width: 768px) {
  .form-card {
    // background-color: #FFFFFF;
    padding: 16px;
    margin-bottom: 16px;
    border-radius: 4px;
    // box-shadow: 0 0 8px rgba(0,0,0,0.2);
    margin-top: 30px;
    width: 100%;
    position: relative;
    opacity: 0;
    -webkit-transition: all .4s ease .4s;
    transition: all .4s ease .4s;
    transform: translateX(-50px);
  }

  .form-card.showing {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (min-width: 1024px) {
  .form-card {
    width: 50%;
  }
}



.form-card {
  background-color: #FFFFFF;

}

