.card-box-shadow {
  background-color: #FFFFFF;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  height: 30%;
  width: 35%;
}

.payment-card {
  background-color: #FFFFFF;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  width: 400px;
  margin-top: 10%;
}
