.chatroom {
  background: white;
  height: calc(92vh - 66px);
  display: flex;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin: 32px;
  padding: 24px;
  flex-direction: column;
  justify-content: space-between;
  border-top: 1px solid $gray-200;
  h1 {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
  }
}
.chatroom-header {
  border-bottom: 1px solid $gray-200;
  padding-bottom: 16px;
}

.chatroom-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blue-gradient-button-chatroom {
 background-image: linear-gradient(to right bottom, #625ef6, #5f6ff7, #607ef6, #678bf3, #7298ef, #779bee, #7c9eee, #81a1ed, #7f9bf1, #8094f4, #838df7, #8885f8);
  color: white;
  padding: 12px 24px;
  text-align: center;
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
  font-size: 18px;
  border-radius: 8px;
  font-weight: bold;
  transition: 0.3s;
  width: 20%;
  margin-bottom: 30px;
}

#messages {
  padding: 0 1rem;
  padding-top: 1rem;
  overflow: scroll;
  flex: 1 1 auto;
  max-height: calc(100vh - 66px - 65px - 71px);
  p {
    word-break: break-all;
  }
}

#new_message {
  padding: 1rem;
  border-top: 1px solid $gray-200;

  .form-group {
    margin-bottom: 0;
  }
}

.message-content {
  background-color: $gray-200;
  border-radius: 4px;
  margin: 8px 0;
  padding: 16px;
}

.message-content-other {
  background-color: $purple;
  color: white;
  border-radius: 4px;
  margin: 8px 0;
  padding: 16px;
}
