// .special-form {
//   display: flex;
//   justify-content: space-between;
//   margin-bottom: 32px;

//   .special-input {
//     width: 40%;
//     padding-left: 4px;
//   }
// }

.form-group {
  padding: 0.5em;
}

form abbr[title] {
  border-bottom: none !important;
  text-decoration: none !important;
}

label {
  font-size: 1.2em;
}

abbr {
  display: none;
}

.blue-gradient-button {
  padding: 0.5em;
}

.form-new-listing {
  margin: 3px 2px 3px 2px;
  border-radius: 2px;
  border: 1px solid black;
  box-shadow: 0 0 24px $purple;
}
