.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  background-color: #f1e449;
}

.red {
	color: red;
	background-color: #70f15a;
}
