.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  border: 1px solid $purple;
  border-radius: 15px;
  box-shadow: 1px 0px 15px $purple;
}

.red {
	color: red;
	background-color: #70f15a;
}
