.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  width: 100%;
  padding: 10px 38px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo {
  // color: black;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  decoration: none !important;;
}

.navbar-link {
  color: black !important;
  text-decoration: none !important;
  margin-left: 32px;
}

.dropdown-item:hover {
  border-radius: 8px;
}

.navbar-item {
  margin-right: 24px;
}

// .nav-item {
//   align-text: left;
// }

// .navbar-item:after {
//   content: '';
//   display: block;
//   height: 1.5px;
//   width: 0;
//   background: transparent;
//   transition: width .5s ease, background-color .5s ease;
// }
// .navbar-item:hover:after {
//   width: 100%;
//   background: black;
//   transition: width .5s ease, background-color .5s ease;
// }
// .logo-title-white {
//   color: white;
// }

// .logo-title-dark {
//   color: black;
// }
