@media (min-width: 240px) and (max-width: 767px) {
  .exchange-button {
    display: none;
  }
  .navbar-link {
    margin: 5px 0px;
    display: block;
    text-align: center;
    font-size: 1.5em;
    color: white;
  }
  .navbar-left {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .navbar-lewagon {
    padding: none;
  }
}



@media (min-width: 768px) {
  .navbar-left {
    opacity: 0;
    -webkit-transition: all .4s ease .4s;
    transition: all .4s ease .4s;
    transform: translateX(-5%);
    display: flex;
  }
  .navbar-left.showing {
    opacity: 1;
    transform: translateX(0);
  }
  .navbar-link {
    margin-left: 32px;
    color: $text-color-gray
  }
  .navbar-lewagon {
    padding: 0.5em 2em;
    display: flex;
    justify-content: space-between;
  }
}


.navbar-lewagon {
  // justify-content: space-between;
  background: #464C53;
  // background: $gradient-dark;
  width: 100%;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


.navbar-link {
  text-decoration: none !important;
  // border: 1px solid black;
}


// .nav-item {
//   align-text: left;
// }

// .navbar-item:after {
//   content: '';
//   display: block;
//   height: 1.5px;
//   width: 0;
//   background: transparent;
//   transition: width .5s ease, background-color .5s ease;
// }
// .navbar-item:hover:after {
//   width: 100%;
//   background: black;
//   transition: width .5s ease, background-color .5s ease;
// }


.hvr-underline-from-left-dashboard {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  // overflow: hidden;
}

.hvr-underline-from-left-dashboard:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: -6px;
  background: rgb(151, 151, 151);
  height: 1px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-left-dashboard:hover:before, .hvr-underline-from-left-dashboard:focus:before, .hvr-underline-from-left-dashboard:active:before {
  right: 0;
}
